<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405609926306-s0gclh0n02kco35u2hjsbm6cje0ba684.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405609926306-s0gclh0n02kco35u2hjsbm6cje0ba684</string>
	<key>API_KEY</key>
	<string>AIzaSyDkOhHW01OsS0ATWl5RXBxWtNOeWsiawvE</string>
	<key>GCM_SENDER_ID</key>
	<string>405609926306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EyupKose.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-325c5</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-325c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405609926306:ios:60025dbf188674df8351fb</string>
</dict>
</plist>